
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    position: absolute;
}

svg {
    width: 5rem;
    overflow: visible;
    margin-right: 1.5rem;
}

.container svg:nth-child(even) {
    margin-right: 4rem;
}

polygon {
    fill: none;
    stroke-width: 8;
    stroke: #17f700;
    transition: stroke-dasharray 0.5s ease;
    /* 初始默认时间显示为0 */
    stroke-dasharray: 0 70 0 5 60 5 0 5 60 5 0 5 60 5 0 5 60 5 0 5 60 5 0 5 60 5 0 70 0;
}

circle {
    fill: #17f700;
    stroke: #17f700;
}